header h1{
  padding: 10px;
  padding-left: 20px;
  padding-bottom: 0.01px;

}

section{
  border: 1px solid black;
  width: 1200px;
}
 header{
  background: rgb(24, 104, 157);
  margin: -9px;
  margin-top: -21px;
  color: rgb(223, 223, 223);
}

body {
font-family:sans-serif;
background: rgb(213, 213, 213);
color: black;
}

header li{
  text-align: left;
  display: inline-block;
  padding: 15px;
  font-family: verdana;
}
header ul {
  background-color: rgb(51, 54, 57);
}
.foto{
}
